.mdc-top-app-bar {
  background-color: #44505f;
}
.landscape-button {
  background-color: #44505f;   
}
.mdc-button.mdc-button--unelevated {
  background-color: #5090ce;
  margin-right: 30px;
  padding: 0.1rem 2rem;
}
.header-button {
  background-color: #5090ce;
  margin-right: 30px;
  padding: 0.1rem 2rem;
}

.example-spacer {
  flex: 1 1 auto;
}
.my-trips-button {
  border: hidden;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
}