.error {
    position: relative;
    top: 10vw;
    width:20%;
    margin: auto;
}
.icon {
    margin: auto;
    position: relative;
    margin: auto;
    text-align: center;
}
.text {
    margin: auto;
    position: relative;
    margin: auto;
    text-align: center;
}