<div class="create_trip_container" >
    <mat-card class="center" >
        <mat-card-title class="mat-card-title">Create new trip: </mat-card-title>
         <mat-form-field class="example-full-width">
            <input matInput placeholder="*Enter trip name" value= {{trip.name}}  [formControl]="TripName"
                   (input)="refreshButtonState()">
            <mat-error *ngIf="TripName.hasError('required')">
                Trip name is required.
            </mat-error>
            <mat-error *ngIf="TripName.hasError('minlength')">
                Minimum Trip name length is 3.
            </mat-error>
            <mat-error *ngIf="TripName.hasError('maxlength')">
                Maximum Trip name length is 30.
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput [matDatepicker]="picker1" [min] = "today" placeholder="Start date"
                   [formControl]="StartDate" (dateChange)="refreshButtonState()">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1 ></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <input matInput [matDatepicker]="picker2" [min]="StartDate.value"  placeholder="End date"
                   [formControl]="EndDate" (dateChange)="refreshButtonState()">
            <mat-datepicker-toggle matSuffix [for]="picker2" ></mat-datepicker-toggle>
            <mat-datepicker #picker2 [startAt]="StartDate.value"  ></mat-datepicker>
        </mat-form-field>

        <button mat-raised-button color="primary" [disabled]=button_disabled  (click)="create_trip()" >Create Trip</button>

    </mat-card>
    <div class="map">
        <app-map></app-map>
    </div>
</div>
