<div id="container">
    <div id="left1" *ngIf="location.markers.length != 0; else no_markers">
        <h3 align="center">Checkpoints</h3>
        <div #scrollEl  cdk-scrollable style="height:89%; overflow-y:scroll">
            <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)" >
                <div class="example-box" *ngFor="let marker of location.markers; let i = index" cdkDragLockAxis="y" cdkDrag>
                    <h4 mat-line (click)="selectMarker(marker)" >
                        <div  *ngIf="!marker.editable;else other_content"> {{marker.order}}. {{marker.name}}
                            <button mat-icon-button class='delete-marker' (click)="deleteMarker(marker)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                        <ng-template #other_content>
                            <mat-form-field class="point-name" style=" margin-bottom: -10px">
                                <input [(ngModel)]="location.markers[i].name" matInput (input)="onNameChange()">
                            </mat-form-field>
                            <button mat-icon-button  (click)="deleteMarker(marker)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </ng-template>
                        <br>
                        lat:  {{marker.lat | number:'2.6-6'}} <br/>
                        lng: {{marker.lng| number:'2.6-6'}} </h4>
                </div>
            </div>
        </div>
    </div>
    <ng-template #no_markers>
        <div id="left1">
            <h3 align="center">Create route choosing checkpoints on the map</h3>
        </div>
    </ng-template>
    <div id="right1">
        <agm-map  style="display: block; width: 100%" (mapClick)="placeMarker($event)"
                  [(latitude)]="location.lat"
                  [(longitude)]="location.lng"
                  [(zoom)]="location.zoom"
                  [zoomControl]="true" >
            <agm-marker (markerClick)="markerClick(marker, infoWindow)"
                        (markerRightClick)="markerRightClick(infoWindow)"
                        (mouseOver)="onMouseOver(marker)"
                        (mouseOut)="onMouseOut(marker)"
                        *ngFor="let marker of location.markers"
                        [(latitude)]="marker.lat"
                        [(longitude)]="marker.lng"
                        [iconUrl]="  {
                url: marker.selected ? './assets/images/tent_selected.svg' : './assets/images/tent.svg',
                scaledSize: {
                    width: 40,
                    height: 40 }
                    }"
            >
                <agm-info-window [disableAutoPan]="false" #infoWindow>
                   <div>
                        {{marker.name}} <br/>
                        <a (click)="onClickInfoView(marker)"> Detele </a>
                    </div>
                </agm-info-window>

                <agm-polyline [editable]="false"  [strokeColor]="'green'">
                    <agm-polyline-point *ngFor="let data of  location.markers"
                                        [latitude]="data.lat"
                                        [longitude]="data.lng">
                    </agm-polyline-point>
                </agm-polyline>

            </agm-marker>
        </agm-map>
    </div>
</div>
